<div class="container">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" [(ngModel)]="newUser.role" name="role" class="form-control" required>
          <option value="" disabled selected>Select your role</option>
          <option value="Admin">Admin</option>
          <option value="Doctor">Doctor</option>
          <option value="Patient">Patient</option>
        </select>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="newUser.username"
          name="username"
          class="form-control"
          required
          placeholder="Enter username"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="newUser.password"
          name="password"
          class="form-control"
          required
          placeholder="Enter password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </div>
  